{% extends 'base.html' %}

{% block content %}


<dl class="row">
    <dt class="col-sm-3"> <h1>My Account</h1></dt>
    <dd class="col-sm-9"></dd>

    <dt class="col-sm-3"><img src="../{{user.profileImg}}" class="img-fluid" alt="Italian Trulli"></dt>
    <dd class="col-sm-9"> </dd>

    <dt class="col-sm-3">Name:</dt>
    <dd class="col-sm-9">{{user.name}}</dd>

    <dt class="col-sm-3">Lastname:</dt>
    <dd class="col-sm-9">{{user.surname}}  </dd>

    <dt class="col-sm-3">Date of birth:</dt>
    <dd class="col-sm-9">{{user.dateofbirth}}  </dd>


    <dt class="col-sm-3">Username:</dt>
    <dd class="col-sm-9">{{user.username}}</dd>

    <dt class="col-sm-3 text-truncate">Country:</dt>
    <dd class="col-sm-9">{{user.country}}</dd>


    <dt class="col-sm-3 text-truncate">Email:</dt>
    <dd class="col-sm-9">{{user.email}}</dd>

    <dt class="col-sm-3 text-truncate">Password:</dt>
    <dd class="col-sm-9">{{user.password}}</dd>


</dl>




{% endblock %}