.footer {
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255, 153, 51, 0.76);
    font-size: medium;
}

body{
    margin-bottom: 70px;
}

.dropdown-content {
    right: 0;
}

#searchButton{
    background:#f93;
    color:#FFFFFF;
    size:auto;
}

#dropdownMenuLink{
    background: #FFFFFF;
    color: #f93;
    font-weight: bold;
}

#id_searchInput{
    size: large;
}

.navbar-title{
    font-weight: lighter;
    font-size: 1.3em;
}

.navbar-brand{
    width:auto;
}

.navbar-header{
    width:auto;
}

.navbar{
    border-bottom: 1px solid  #93c572;
    position: sticky;
    background: white;
}



#profile-img {
    border-radius: 50%;
}

#pageTitle{
    color: #ff7018;
    text-align: center;
}

#plus{
    color: #f1fff7;
}

#addRecipe{
    background: #93c572;
    border: 1px solid black;

}

#colSearch{
    padding-right: 0;
}

#trash{
    alignment: right;
    color: #d20f00;
}

.heart{
    color: #9996aa;
}

.heart:hover{
    color: #d20f00;
}

#arrow{
    background: #9dcf48;
    color:#f1fff7;
}

.heartjs{
    alignment: right;
    color: #d20f00;
    background: #d20f00;
}

.card-title-orange{
    color:#ff5e00;
}
.card-title-orange:hover{
    color:#dd0d09;
}

.authorName{
    color:#696969;
}
.authorName:hover{
    text-decoration: none;
    color:#696969;
}

.recipeSubTitle{
    color:#898484;
}

.recipeImage{
    width: auto;
    height:auto;
}

.img-center {margin:0 auto;}


.img-fluid-max-height{
    max-width: 100%;
    max-height: 600px;
}