
    <nav class="navbar fixed-top navbar-light" bg-light d-xs-block >
        <div class="navbar-header">
            <a class="navbar-brand" href="\home" >
                <span class="navbar-title">
                    <img src="/static/imgs/logo.png" width="60" height="60"  alt="">
                    HelloRecipes
                </span>

            </a>
        </div>

        <div class="nav navbar-right">

            <ul class="nav navbar-right">


                <li class="nav-item dropdown">
                    {% if request.user.is_authenticated %}

                        <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            MENU
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">


                                <a class="dropdown-item" href="\account">Account</a>
                                <a class="dropdown-item" href="\myrecipe">My Recipes</a>
                                <a class="dropdown-item" href="\newrecipe">Create Recipe</a>
                                <a class="dropdown-item" href="\savedrecipe">Saved Recipes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="\logout">Logout</a>


                        </div>

                    {% else %}
                        <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            LOGIN
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">


                        <a class="dropdown-item" href="\login">Login</a>
                        <a class="dropdown-item" href="\registration">Registration</a>

                        </div>


                    {% endif %}
                </li>

            </ul>



        </div>
    </nav>
