
{% extends 'navbar.html' %}

{% block contentMenu %}


    <ul class="nav navbar-right">
        <li class="nav-item dropdown">
            <a class=" dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                MENU
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="\login">Login</a>
                <a class="dropdown-item" href="\registration">Registration</a>

            </div>
        </li>
    </ul>



{% endblock %}