
{% extends 'navbar.html' %}

{% block contentMenu %}


    <ul class="nav navbar-right">
        <li class="nav-item dropdown">
            <a class=" dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                MENU
            </a>
            <div class="dropdown-menu">
                {% if request.user.is_authenticated %}
                    <a class="dropdown-item" href="\account">Account</a>
                    <a class="dropdown-item" href="\logout">Logout</a>

                {% else %}
                    <a class="dropdown-item" href="\login">ciao</a>
                    <a class="dropdown-item" href="\registration">Registration</a>
                {% endif %}

            </div>
        </li>
    </ul>



{% endblock %}